<nav class="navbar navbar-light bg-dark ">
    <a class="navbar-brand  " href="#" style="color:rgb(85, 98, 237);"><b>&#169; HAFC Bank Pvt.Ltd </b></a>
    <span class="quote text-light">Giving you freedom...</span>
    <button (click)="logout()" class="btn btn-warning">Log Out</button>

</nav>
<h3 style="color: white;">Welcome {{user}}</h3>
<h4 style="color:white">Login Details are:{{loginDate|date:'fullDate'|uppercase}}</h4>
<a routerLink="/transactions">Transaction History</a>
<!-- animation demo -->
<!-- <app-animation-demo></app-animation-demo> -->
<button (click)="deleteFromParent()" class="btn btn-danger" style="float: right;">Delete</button>
<hr>
<app-delete-confirm (onDelete)="onDelete($event)" (onCancel)="onCancel()" [item]=acno>  </app-delete-confirm>

<div [ngClass]="acno? 'style1':''" class="container col-md-12 mt-0 ">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h4 appHighlight style="color: white;" class="text-center">Deposit Form</h4>

            </div>
            <div class="card-body">
                <form [formGroup]="depositForm" (ngSubmit)="deposit()">
                    
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" name="acno" formControlName="acno"
                            placeholder="Account Number Please!!!" id="acno" required>
                    </div>
                    <div *ngIf="(this.depositForm.get('acno')?.touched||this.depositForm.get('acno')?.dirty)&&this.depositForm.get('acno')?.errors"
                        style="color: red;">Invalid Account Number</div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" class="form-control" name="pswd" formControlName="pswd"
                            placeholder="Password Please!!!" id="login_password" required>
                    </div>
                    <div *ngIf="(this.depositForm.get('pswd')?.touched||this.depositForm.get('pswd')?.dirty)&&this.depositForm.get('pswd')?.errors"
                        style="color: red;">Invalid Password</div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" name="amount" formControlName="amount"
                            placeholder="Amount PLease!!!!" id="login_amount" required>
                    </div>
                    <div *ngIf="(this.depositForm.get('amount')?.touched||this.depositForm.get('amount')?.dirty)&&this.depositForm.get('amount')?.errors"
                        style="color: red;">Invalid Amount</div>
                    
                    <div class="form-group">
                        <input type="submit" value="Deposit" class="btn float-right login_btn" style="width:50%">
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>


<div [ngClass]="acno? 'style1':''" class="container col-md-12 mt-0 ">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h4 appHighlight style="color: white;" class="text-center">Withdraw Form</h4>

            </div>
            <div class="card-body">
                <form [formGroup]="withdrawForm" (ngSubmit)="withdraw()">
                    
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" name="acno" formControlName="acno1"
                            placeholder="Account Number Please!!!" id="acno" required>
                    </div>
                    <div *ngIf="(this.withdrawForm.get('acno')?.touched||this.withdrawForm.get('acno')?.dirty)&&this.withdrawForm.get('acno')?.errors"
                        style="color: red;">Invalid Account Number</div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" class="form-control" name="pswd" formControlName="pswd1"
                            placeholder="Password Please!!!" id="login_password" required>
                    </div>
                    <div *ngIf="(this.withdrawForm.get('pswd')?.touched||this.withdrawForm.get('pswd')?.dirty)&&this.withdrawForm.get('pswd')?.errors"
                        style="color: red;">Invalid Password</div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" name="amount" formControlName="amount1"
                            placeholder="Amount PLease!!!!" id="login_amount" required>
                    </div>
                    <div *ngIf="(this.withdrawForm.get('amount')?.touched||this.withdrawForm.get('amount')?.dirty)&&this.withdrawForm.get('amount')?.errors"
                        style="color: red;">Invalid Amount</div>
                    
                    <div class="form-group">
                        <input type="submit" value="Withdraw" class="btn float-right login_btn " style="width:50%">
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>